body {
  background-color: #ffffff;
  color: #011c44;
  font-size: 22px;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

* {
  list-style: none;
}
