.text-brand {
  color: $brand_light;
}

.text-title {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  @media screen and (min-width: $bp-tablet) {
    font-family: Play;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
  }
}
