.advantages-section {
  background-image: url(/images/bg-advantages.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;

  &__advantages {
    display: flex;
    justify-content: space-around;
  }
  &__card {
    background-color: $primary-light;
    width: 316px;
    height: 181px;
    opacity: 1;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__icon {
    margin-top: 31px;
  }
}
