.advantages-section {
  background-image: url(../images/advantages-bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 140px;
  @media screen and (min-width: $bp-tablet) {
    background-image: url(../images/bg-advantages.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 180px 190px;
  }

  &__advantages {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }
  }
  &__card {
    background-color: $primary-light;
    width: 316px;
    height: 181px;
    opacity: 1;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__icon {
    margin-top: 31px;
  }
}
