.contact-section {
  &__container {
    display: flex;
    margin-bottom: 96px;
    @media screen and (max-width: $bp-tablet) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 24px;
      margin-bottom: 0;
    }
  }

  &__map {
    height: 232px;
    width: 360px;
    @media screen and (min-width: $bp-tablet) {
      width: 605px;
      height: 481px;
      opacity: 1;
      border-radius: 32px;
      margin-left: 176px;
      margin-right: 32px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 422px;
    height: 482px;
    top: 0.87px;
    opacity: 1;
    border-radius: 32px;
    background-image: url(/images/bg-form.svg);
    background-color: $brand_dark;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: $bp-tablet) {
      width: 320px;
      height: 424px;
    }
  }

  &__text {
    font-family: Roboto;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    color: $primary_light;
    width: 274px;
    height: 52px;
  }

  &__form-field {
    padding: 0 56px;
    display: flex;

    margin-bottom: 18px;
  }
}

.form-terms {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: rgba(116, 114, 114, 1);
  width: 213px;
  height: 36px;
  opacity: 1;
  margin: 8px 105px;

  &__link {
    color: rgba(116, 114, 114, 1);
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
