.footer {
  background-color: $brand_dark;
  background-image: url(./images/bg-footer.svg);

  &__container {
    height: 278px;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 56px 100px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    height: 124px;
    gap: 16px;
    margin-top: 0;
  }

  &__address-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 0;
  }

  &__link {
    width: 203px;
    height: 19px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    color: $primary_light;
    text-decoration: none;

    &:hover {
      color: $brand_light;
    }
  }

  &__contacts {
    width: 192px;
    height: 166px;
  }

  &__adress-link {
    text-decoration: none;
    color: $primary_light;
    width: 203px;
    height: 38px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;

    &:hover {
      color: $brand_light;
    }
  }
  &__socials {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__address-copyright {
    color: rgba(116, 114, 114, 1);
    width: 203px;
    height: 15px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
  }

  &__img {
    position: relative;
    margin-left: auto;
    bottom: 152px;
  }
}
