.header {
  padding-top: 32px;
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(10px);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  // &__nav {
  //   @extend .header__container;
  // }

  &__menu {
    display: flex;
    gap: 56px;
    list-style: none;
  }

  &__socials {
    align-items: center;
    display: flex;
    gap: 32px;
  }
}
