.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
  @media screen and (min-width: $bp-tablet) {
    backdrop-filter: blur(10px);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  // &__nav {
  //   @extend .header__container;
  // }
  &__logo {
    @media screen and (max-width: $bp-tablet) {
      margin-left: 20px;
      margin-top: 16px;
    }
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      gap: 56px;
      list-style: none;
    }
  }

  &__socials {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      align-items: center;
      display: flex;
      gap: 32px;
    }
  }

  &__burger {
    border: none;
    background-color: rgba(0, 0, 0, 0);

    margin-top: 21px;
    margin-left: auto;
    margin-right: 18px;
    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}
