.hero-section {
  padding-top: 100px;
  position: relative;
  min-height: 100vh;
  background-image: url(../images/hero-bg-2.jpg);

  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  @media screen and (min-width: $bp-tablet) {
    padding-top: 100px;
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(
        89.38deg,
        #ffffff 30.62%,
        rgba(255, 255, 255, 0.850898) 41.31%,
        rgba(255, 255, 255, 0.193204) 58.65%,
        rgba(255, 255, 255, 0) 72.78%
      ),
      url(../images/hero-bg-2.jpg);

    background-size: cover;

    background-position: center right;
    background-repeat: no-repeat;
  }

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    display: block;
    z-index: 2;
    @media screen and (min-width: $bp-tablet) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 140px;
      display: block;
      z-index: 2;
    }
  }

  &__title {
    color: $brand_light;
    font-family: Play;
    font-weight: 700;
    font-style: Bold;
    font-size: 54px;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    width: 330px;
    height: 46px;
    margin-bottom: 32px;

    @media screen and (min-width: $bp-tablet) {
      color: $brand_light;
      font-family: Play;
      font-weight: 700;
      font-size: 140px;
      line-height: 114px;
      text-transform: capitalize;
      width: 529px;
      height: 228px;
      opacity: 1;
      margin-bottom: 41px;
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 319px;
    height: 184px;
    left: 30px;

    @media screen and (min-width: $bp-tablet) {
      position: relative;
      width: 529px;
      height: 408px;
      opacity: 1;
      top: 122.52px;
      left: 206px;
    }
  }

  &__text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    width: 186px;
    height: 36px;
    margin: 0;
    line-height: 18px;

    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      margin-top: 0px;
      font-family: Roboto;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      width: 238px;
      height: 36px;
      opacity: 1;
      text-align: center;
    }
  }
}
