.intro-section {
  display: flex;
  &__container {
    padding-left: 100px;
    flex: 1;
  }
  &__title {
    font-family: Play;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    width: 500px;
    height: 148px;
    opacity: 1;
    margin-bottom: 18px;
  }

  &__content {
    font-family: Roboto;
    width: 709px;
    height: 152px;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 38px;
  }
}

.images {
  position: relative;
  flex: 1;
  margin: 0;
  padding: 0;

  &__woman-before {
    width: 335px;
    height: 328px;
    margin-right: 268px;
    margin-left: auto;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.2);
    margin-bottom: 40px;
    border-radius: 50%;
  }

  &__woman-after {
    height: 328px;
    width: 342px;
    margin-right: 100px;
    margin-left: auto;
    border-radius: 50%;
  }

  &__star-black {
    width: 64px;
    height: 64px;
    position: absolute;
    right: 395px;
    top: 336px;
  }

  &__star-norm {
    width: 40px;
    height: 40px;
    right: 73px;
    position: absolute;
    top: 18px;
  }
}
