.intro-section {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $bp-desktop) {
    display: flex;
  }
  &__container {
    height: 347px;

    @media screen and (min-width: $bp-desktop) {
      padding-left: 100px;
      flex: 1;
    }
  }
  &__title {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 264px;
    height: 76px;

    @media screen and (min-width: $bp-desktop) {
      font-family: Play;
      font-weight: 700;
      font-style: Bold;
      font-size: 64px;
      width: 500px;
      height: 148px;
      opacity: 1;
      margin-bottom: 18px;
    }
  }

  &__content {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 320px;
    height: 63px;

    @media screen and (min-width: $bp-desktop) {
      font-family: Roboto;
      width: 709px;
      height: 152px;
      font-weight: 400;
      font-style: Regular;
      font-size: 22px;
      line-height: 38px;
    }
  }
}

.images {
  position: relative;
  flex: 1;
  margin: 0;
  padding: 0;

  &__woman-before {
    width: 335px;
    height: 328px;
    margin-right: 268px;
    margin-left: auto;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.2);
    margin-bottom: 40px;
    border-radius: 50%;
    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__woman-after {
    height: 328px;
    width: 342px;
    margin-right: 100px;
    margin-left: auto;
    border-radius: 50%;
    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__star-black {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    @media screen and (min-width: $bp-desktop) {
      width: 64px;
      height: 64px;
      position: absolute;
      right: 395px;
      top: 336px;
    }
  }

  &__star-norm {
    width: 40px;
    height: 40px;
    right: 73px;
    position: absolute;
    top: 18px;
    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }
}
