.intro-section {
  position: relative;
  &__container {
    padding-left: 100px;
    font-family: Play;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    width: 600px;
    height: 148px;
    opacity: 1;
  }
  &__text-brand {
    color: $brand_light;
  }

  &__content {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 38px;
  }

  &__text-span {
    font-family: Roboto;
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    text-transform: capitalize;
  }
}

.images {
  margin: 0;
  padding: 0;
  &__woman-before {
    position: absolute;
    box-shadow: 0px 4px 4px 0px #a8c6f533;

    margin-bottom: 40px;
    top: 0;
    left: 841px;
    border-radius: 500px;
  }

  &__woman-after {
    position: absolute;

    left: 1013px;
    border-radius: 500px;
    top: 400px;
  }

  &__star-black {
    position: absolute;

    top: 360px;
    left: 958px;
  }

  &__star-norm {
    position: absolute;
    top: 32px;
    left: 1312px;
  }
}
