.mobile-menu {
  width: 360px;
  height: 640px;
  border: none;
  margin-bottom: 16px;
  &__logo {
    width: 57px;
    height: 30px;
  }

  &__nav {
    display: flex;
    flex-direction: column;

    padding: 0;
    width: 128px;
    height: 162px;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
  }
}
