.modal {
  background-color: $brand_dark;
  background-image: url(/images/bg-form.svg);
  width: 723px;
  height: 681px;
  border-radius: 48px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: Play;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    width: 435px;
    height: 148px;
    color: $primary_light;
    margin-bottom: 18px;
    margin-top: 42px;
  }
}
