.input {
  position: relative;

  &__label {
    color: white;
    position: absolute;
    top: 20px;
    left: 42px;
  }

  &__control {
    padding: 18px 32px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid $primary_light;
    border-radius: 32px;
    background-color: transparent;
    border-color: rgba(116, 114, 114, 1);
  }
  &:focus {
    border-color: rgba(116, 114, 114, 1);
    outline: none;
  }

  &::placeholder {
    color: $primary_light;
    font-size: 16px;
    line-height: 1.17;
  }

  &:focus::placeholder {
    color: $primaary_dark;
  }
}
